<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Auto Carisma</title>
</head>
<body>
    <header>
        <img src="../static/images/logo.jpg" alt="Лого" width="400" height="auto">
    </header>
    <div class="main">
        <div class="deliner"></div>
        <div class="menu">
            <a href="./new_order" class="button">Создать заявку</a>
            <a href="./info" class="button">О нас</a>
            <a href="./contacts" class="button">Контакты</a>
        </div>
    </div>
<footer>
    <div class="footer" style="color: white; background-color: black;">
        <span>Разработчик: korneev.dev</span>
    </div>
</footer>
</body>
</html>