<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Auto Carisma</title>
</head>
<header>
    <img src="../static/images/logo.jpg" alt="Лого" width="400" height="auto">
</header>
<div class="main">
    <div class="deliner"></div>
    <div class="menu">
        <a href="./orders" class="button">Заявки</a>
    </div>
    <div class="deliner"></div>
    <div class="calculator-form-main">
        <div class="new-order-form">
            <table class="new_order_table">
                <tbody>
                <tr>
                    <td>Имя</td>
                    <td>
                        <input type="text" id="client_first_name">
                    </td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>
                        <input type="text" id="client_last_name">
                    </td>
                </tr>
                <tr>
                    <td>Telegram ID</td>
                    <td>
                        <input type="text" id="client_id">
                    </td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>
                        <input type="text" id="client_phonenumber">
                    </td>
                </tr>
                <tr>
                    <td>Марка авто</td>
                    <td>
                        <input type="text" id="model_auto">
                    </td>
                </tr>
                <tr>
                    <td>Оценка</td>
                    <td>
                        <input type="text" id="rating">
                    </td>
                </tr>
                <tr>
                    <td>Стоимость</td>
                    <td>
                        <input type="text" id="auto_price">
                    </td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>
                        <select id="status">
                            <option value="В обработке">В обработке</option>
                            <option value="Подбор авто">Подбор авто</option>
                            <option value="Розыгрыш на аукционе">Розыгрыш на аукционе</option>
                            <option value="В пути">В пути</option>
                            <option value="Процесс растаможки">Процесс растаможки</option>
                            <option value="Доставлено">Доставлено</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Фото (ссылка)</td>
                    <td>
                        <input type="text" id="picture">
                    </td>
                </tr>
                <tr>
                    <td>Ссылка на аукцион</td>
                    <td>
                        <input type="text" id="link">
                    </td>
                </tr>
                <tr>
                    <td>Оплачен</td>
                    <td>
                        <select id="is_paid">
                            <option value="1">Оплачен</option>
                            <option value="0">Не оплачен</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <button>Создать заявку</button>
        </div>
        <form class="calculator-form" action="/calculate" method="POST" id="calculator-form">
    <table class="calculator">
        <tbody>
            <tr>
                <td>Автомобиль ввозит</td>
                <td>
                    <select name="owner">
                        <option value="1">Физическое лицо (для личного пользования)</option>
                        <option value="2">Физическое лицо (для перепродажи)</option>
                        <option value="3">Юридическое лицо</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Возраст автомобиля</td>
                <td>
                    <select name="age">
                        <option value="0-3">до 3 лет</option>
                        <option value="3-5">от 3 до 5 лет</option>
                        <option value="5-7">от 5 до 7 лет</option>
                        <option value="3">более 7</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Тип двигателя</td>
                <td>
                    <select name="engine">
                        <option value="1">Бензиновый</option>
                        <option value="2">Дизельный</option>
                        <option value="3">Гибридный</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Мощность двигателя</td>
                <td>
                    <input type="text" name="power">
                    <select name="power_unit">
                        <option value="1">ЛС</option>
                        <option value="2">кВт</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Объем двигателя</td>
                <td>
                    <input type="text" name="value">
                    <span>см<sup>3</sup> (1 л = 1000 см<sup>3</sup>)</span>
                </td>
            </tr>
            <tr>
                <td>Стоимость автомобиля</td>
                <td>
                    <input type="text" name="price">
                    <select name="curr">
                        <option value="EUR">Евро</option>
                        <option value="USD">Доллар США</option>
                        <option value="JPY">Японская Иена</option>
                        <option value="CNY">Китайский Юань</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="notice">
        <span style="text-align: left; font-size: 12px; margin: 0px;">*рассчет производится с учетом расходов по Японии</span><br><br>
    </div>
    <div class="currency">
                    <span style="align-items: center"><img src="../static/images/usd.png" width="18" height="18"> 1 USD = {{ currency['currency']['USD'] }} ₽</span><br>
                    <span style="align-items: center"><img src="../static/images/eur.png" width="18" height="18"> 1 EUR = {{ currency['currency']['EUR'] }} ₽</span><br>
                    <span style="align-items: center"><img src="../static/images/cny.png" width="18" height="18"> 1 CNY = {{ currency['currency']['CNY'] }} ₽</span><br>
                    <span style="align-items: center"><img src="../static/images/jpy.png" width="18" height="18"> 1 JPY = {{ currency['currency']['JPY'] }} ₽</span><br><br>
                </div>
    <button type="button" onclick="submitForm()">Рассчитать</button>
</form>
        <div id="result" class="result">
    <table class="result">
        <tbody>
            <tr>
                <td style="width: 200px;">Сбор</td>
                <td id="sbor"> </td>
            </tr>
            <tr>
                <td style="width: 200px;">Налог</td>
                <td id="tax"> </td>
            </tr>
            <tr>
                <td style="width: 200px;">Налоговая ставка</td>
                <td id="tax_k"> </td>
            </tr>
            <tr>
                <td style="width: 200px;">Сбор утилизации</td>
                <td id="util"> </td>
            </tr>
            <tr>
                <td style="width: 200px;">Сбор утилизации калькуляция</td>
                <td id="util_k"> </td>
            </tr>
            <tr>
                <td style="width: 200px;">Итого</td>
                <td id="total"> </td>
            </tr>
            <tr>
                <td style="width: 200px;">Итого 2</td>
                <td id="total2"> </td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
</div>
<script>
    function submitForm() {
    var form = document.getElementById("calculator-form");
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/calculate", true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                document.getElementById("sbor").innerText = response.sbor;
                document.getElementById("tax").innerText = response.tax;
                document.getElementById("tax_k").innerHTML = response.tax_k;
                document.getElementById("util").innerText = response.util;
                document.getElementById("util_k").innerText = response.util_k;
                document.getElementById("total").innerText = response.total;
                document.getElementById("total2").innerText = response.total2;
            } else {
                console.error("Error:", xhr.statusText);
            }
        }
    };
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify(Object.fromEntries(formData)));
}
</script>
<script>
    document.querySelector('button').addEventListener('click', function() {
        var isPaidValue = document.getElementById('is_paid').value === 'True';
        var data = {
            client_first_name: document.getElementById('client_first_name').value,
            client_last_name: document.getElementById('client_last_name').value,
            client_id: document.getElementById('client_id').value,
            client_phonenumber: document.getElementById('client_phonenumber').value,
            model_auto: document.getElementById('model_auto').value,
            rating: document.getElementById('rating').value,
            auto_price: document.getElementById('auto_price').value,
            status: document.getElementById('status').value,
            picture: document.getElementById('picture').value,
            link: document.getElementById('link').value,
            is_paid: isPaidValue
        };

        fetch('/create_order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                console.log('Заказ успешно создан');
                window.location.href = '/orders';
            } else {
                console.error('Не удалось создать заказ');
            }
        }).catch(error => {
            console.error('Ошибка:', error);
        });
    });
</script>
<footer>
    <div class="footer">
        <span>Разработчик: korneev.dev</span>
    </div>
</footer>