<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign In/Up Form Transitions</title>
  
  
  
      <link rel="stylesheet" href="../static/style_register.css">

  
</head>

<body>
  <body>
<form class="login-form">
  <input checked="" id="signin" name="action" type="radio" value="signin">
  <label for="signin">Войти</label>
  <input id="signup" name="action" type="radio" value="signup">
  <label for="signup">Регистрация</label>
  <input id="reset" name="action" type="radio" value="reset">
  <label for="reset">Сброс пароля</label>
  <div id="wrapper">
    <div id="arrow"></div>
    <input id="username" placeholder="Логин" type="text">
    <input id="password" placeholder="Пароль" type="password">
    <input id="repass" placeholder="Повторите пароль" type="password">
  </div>
  <button type="submit">
    <span>
      Сброс пароля
      <br>
      Войти
      <br>
      Регистрация
    </span>
  </button>
</form>

<script type="text/javascript">
    
</script>

</body>
  
  
</body>
</html>
