@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Общие стили */
body {
    font-family: 'Open Sans', ital;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000; /* Близкий к фиолетовому цвет */
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', ital;
    cursor: default;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 5); /* Тень */
}

button, .button {
    background-color: #6A5ACD; /* Близкий к фиолетовому цвет */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
    font-family: 'Open Sans', ital;
}

button:hover, .button:hover {
    background-color: #836FFF; /* Фиолетовый цвет при наведении */
}

.container {
    max-width: 100%;
    margin: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Стили для таблицы */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Open Sans', ital;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: default;
    border-radius: 0px; /* Закругленные края */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); /* Тень */
}

th {
    background-color: #6A5ACD; /* Близкий к фиолетовому цвет */
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(231, 217, 255, 0.3); /* Светло-серый цвет для четных строк */
}

th.id {
    border-top-left-radius: 15px;
}

th.edit {
    border-top-right-radius: 15px;
}

